<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>6A0F1097-8B86-44D8-BE42-1B8E0B925034</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E216B488-83D3-4A71-A1D3-AC424DE83ADF</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>C46353AD-E571-4B27-8B1E-2A28F92F12F3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>724F3768-E32D-4CB0-A256-CBD7A505DE73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A0F1097-8B86-44D8-BE42-1B8E0B925034</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C46353AD-E571-4B27-8B1E-2A28F92F12F3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>084BBDB9-FFB2-49C1-AEC8-F678F1877B5C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>edelans</string>
	<key>description</key>
	<string>Add tasks to your nirvanahq todo list from Alfred

Add tasks to your nirvanahq from Alfred

Add tasks to your NirvanaHQ todo list from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Nirvana</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>octave up.aif</string>
				<key>systemsound</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>E216B488-83D3-4A71-A1D3-AC424DE83ADF</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>query=$1

/usr/bin/env python3 nirvana.py "$query" "$auth_token"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A0F1097-8B86-44D8-BE42-1B8E0B925034</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>at</string>
				<key>subtext</key>
				<string>to create a new task in my nirvana inbox</string>
				<key>text</key>
				<string>add task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>724F3768-E32D-4CB0-A256-CBD7A505DE73</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Result from Nirvana inbox :</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>084BBDB9-FFB2-49C1-AEC8-F678F1877B5C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>C46353AD-E571-4B27-8B1E-2A28F92F12F3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>➡️ https://github.com/edelans/alfred-nirvanahq 


find help for configuring the workflow, add issues, etc.</string>
	<key>uidata</key>
	<dict>
		<key>084BBDB9-FFB2-49C1-AEC8-F678F1877B5C</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>6A0F1097-8B86-44D8-BE42-1B8E0B925034</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>724F3768-E32D-4CB0-A256-CBD7A505DE73</key>
		<dict>
			<key>xpos</key>
			<real>85</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>C46353AD-E571-4B27-8B1E-2A28F92F12F3</key>
		<dict>
			<key>xpos</key>
			<real>720</real>
			<key>ypos</key>
			<real>220</real>
		</dict>
		<key>E216B488-83D3-4A71-A1D3-AC424DE83ADF</key>
		<dict>
			<key>xpos</key>
			<real>875</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>af148e3a41eda6bbddaaca0c8fa4e56cc6482e54cef9f37902916ad3ba0f7a7b</string>
				<key>placeholder</key>
				<string>af148e3a41eda6bbddaaca0c8fa4e56cc6482e54cef9f37902916ad3ba0f7a7b</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Authentication token, found in dev tools when you are logged in your nirvana web app. See Readme for more details to retrieve it.</string>
			<key>label</key>
			<string></string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>auth_token</string>
		</dict>
	</array>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://github.com/edelans/alfred-nirvanahq#readme</string>
</dict>
</plist>
